/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Causten';
  src: url('/fonts/Causten-Bold.woff2') format('woff2');
  font-weight: bold;
}

body {
  @apply bg-brand-bege font-causten text-black antialiased overflow-x-hidden;
}

/* --- REGRAS DE OURO DO DESIGN (FOTO 3) --- */
.neo-border { border: 6px solid black !important; }
.neo-shadow { box-shadow: 12px 12px 0px 0px black !important; }
.modal-shadow { box-shadow: 35px 35px 0px 0px black !important; }

/* OVERLAY DO MODAL (FIXA NO CENTRO) */
.modal-overlay {
  @apply fixed inset-0 z-[9999] flex items-center justify-center bg-black/40 backdrop-blur-md p-4;
}

/* CUSTOMIZAÇÃO DO CALENDÁRIO */
.fc-theme-standard td, .fc-theme-standard th {
  border: 4px solid black !important;
}

.fc-view-harness {
  border-radius: 60px !important;
  overflow: hidden !important;
  border: 6px solid black !important;
  background: white !important;
}

.fc-daygrid-day-number {
  @apply font-black italic text-5xl opacity-5 p-6 !important;
}

.fc-event {
  @apply border-4 border-black rounded-full px-5 py-2 font-black uppercase text-[11px] !important;
  background-color: white !important;
  color: black !important;
  box-shadow: 5px 5px 0px 0px black !important;
  margin: 4px !important;
  transition: transform 0.1s ease;
}

.fc-event:hover {
  transform: translate(-2px, -2px);
  box-shadow: 7px 7px 0px 0px black !important;
}
